{
  type: 'object'
  title: 'Statuses Update'
  'x-group-name': 'Tweets'
  required: ['data']
  properties:
    data:
      required: ['status']
      type: 'object'
      properties:
        status:
          type: 'string'
          title: 'Status'
          description: '
            The text of your status update, typically up to 140 characters. URL encode as necessary. t.co link wrapping may affect character counts.
            There are some special commands in this field to be aware of. For instance, preceding a message with “D ” or “M ” and following it with a screen name can create a direct message to that user if the relationship allows for it.
          '
        in_reply_to_status_id:
          type: 'string'
          title: 'In Reply to Status ID'
          description: 'The ID of an existing status that the update is in reply to.'
        possibly_sensitive:
          type: 'boolean'
          title: 'Possibly Sensitive'
          description: 'If you upload Tweet media that might be considered sensitive content such as nudity, violence, or medical procedures, you should set this value to true.'
        lat:
          type: 'string'
          title: 'Latitude'
          description: 'The latitude of the location this tweet refers to.'
        long:
          type: 'string'
          title: 'Longitude'
          description: 'The longitude of the location this tweet refers to.'
        place_id:
          type: 'string'
          title: 'Place ID'
          description: 'A place in the world.'
        display_coordinates:
          type: 'string'
          title: 'Display Coordinates'
          description: 'Whether or not to put a pin on the exact coordinates a tweet has been sent from.'
        media_ids:
          type: 'string'
          title: 'Media IDs'
          description: 'A list of media_ids to associate with the Tweet. You may include up to 4 photos or 1 animated GIF or 1 video in a Tweet.'
        trim_user:
          type: 'boolean'
          title: 'Trim User'
          description: 'When set to either true each Tweet returned in a timeline will include a user object including only the status authors numerical ID.'
        
}
