{
  type: 'object'
  title: 'GET friendships/no_retweets/ids'
  'x-group-name': 'friendships'
  required: ['data']
  properties:
    data:
      required: []
      type: 'object'
      properties:
        'stringify_ids':
          type: 'boolean'
          title: 'Stringify Ids'
          description: 'Many programming environments will not consume our ids due to their size.'

}
