{
  type: 'object'
  title: 'POST friendships/update'
  'x-group-name': 'friendships'
  required: ['data']
  properties:
    data:
      required: []
      type: 'object'
      properties:
        'screen_name':
          type: 'string'
          title: 'Screen Name'
          description: 'The screen name of the user for whom to befriend.'
        'user_id':
          type: 'string'
          title: 'User ID'
          description: 'The ID of the user for whom to befriend.'
        'device':
          type: 'boolean'
          title: 'Device'
          description: 'Enable/disable device notifications from the target user.'
        'retweets':
          type: 'boolean'
          title: 'Retweets'
          description: 'Enable/disable retweets from the target user.'

}
