{
  type: 'object'
  title: 'POST saved_searches/destroy/:id'
  'x-group-name': 'saved_searches'
  required: ['data']
  properties:
    data:
      required: ['id']
      type: 'object'
      properties:
        'id':
          type: 'string'
          title: 'ID'
          description: 'The ID of the saved search.'

}
