{
  type: 'object'
  title: 'POST mutes/users/destroy'
  'x-group-name': 'mutes'
  required: ['data']
  properties:
    data:
      required: []
      type: 'object'
      properties:
        'screen_name':
          type: 'string'
          title: 'Screen Name'
          description: 'The screen name of the potentially muted user.'
        'user_id':
          type: 'string'
          title: 'User ID'
          description: 'The ID of the potentially muted user.'

}
