{
  type: 'object'
  title: 'POST lists/create'
  'x-group-name': 'lists'
  required: ['data']
  properties:
    data:
      required: ['name']
      type: 'object'
      properties:
        'name':
          type: 'string'
          title: 'Name'
          description: 'The name for the list.'
        'mode':
          type: 'string'
          title: 'Mode'
          description: 'Whether your list is public or private.'
        'description':
          type: 'string'
          title: 'Description'
          description: 'The description to give the list.'

}
