{
  type: 'object'
  title: 'GET friendships/lookup'
  'x-group-name': 'friendships'
  required: ['data']
  properties:
    data:
      required: []
      type: 'object'
      properties:
        'screen_name':
          type: 'string'
          title: 'Screen Name'
          description: 'A comma separated list of screen names, up to 100 are allowed in a single request.'
        'user_id':
          type: 'string'
          title: 'User ID'
          description: 'A comma separated list of user IDs, up to 100 are allowed in a single request.'

}
